{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="py-4 py-lg-5">
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p class="text-muted small">By {{ article.author }} | {{ article.date }} 
            {% if user.is_authenticated and user == article.author %}
            <a href="{% url 'article_edit' article.id %}">Edit</a> |
            <a class="text-danger" href="{% url 'article_delete' article.id %}">Delete</a>
            {% endif %}
        </p>
        {{ article.body }}
        <br>
        {% if article.comment_set.all %}
            <hr>
            <h3>Post comments</h3>
            {% for comment in article.comment_set.all %}
            <p>
                <span class="text-capitalize text-muted">{{ comment.author }}</span>
                <span class="mx-2">&middot;</span>
                {{ comment }}
            </p>
            
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
        <hr>
        <h4>Add comment</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Save</button>
        </form>
        <a href="" class="btn btn-success">+ Add comment</a>
        {% endif %}
    </div>
</div>
{% endblock %}